<div class="background">
    <div class="header">
        <p>Messages</p>
    </div>
    <div class="button_div">
        <div class="non_lue"></div>
        <div class="contact_logo">
            <img src="../assets/img/phone/user.png" alt="Contact Logo">
        </div>
        <div class="message_div">
            <p class="main_title">Alex Deckel</p>
            <p class="message_container">Rejoins moi mcdo mec</p>
        </div>
        <p class="date">hier</p>
        <p class="arrow">></p>
    </div>












    <div class="button_div">
        <!-- <div class="non_lue"></div> -->
        <div class="contact_logo">
            <img src="../assets/img/phone/user.png" alt="Contact Logo">
        </div>
        <div class="message_div">
            <p class="main_title">Flavien</p>
            <p class="message_container">Ca va mec ?</p>
        </div>
        <p class="date">mardi</p>
        <p class="arrow">></p>
    </div>
    <div class="button_div">
        <div class="non_lue"></div>
        <div class="contact_logo">
            <img src="../assets/img/phone/user.png" alt="Contact Logo">
        </div>
        <div class="message_div">
            <p class="main_title">06 54 42 21 45</p>
            <p class="message_container">RDV COMICO</p>
        </div>
        <p class="date">22/10/2022</p>
        <p class="arrow">></p>
    </div>






</div>

<app-home-bar></app-home-bar>