<nav>
    <div class="filter_div" routerLink="../favoris" routerLinkActive="routerActive">
        <img src="../assets/img/phone/star.png" alt="star">
        <p>Favoris</p>
    </div>
    <div class="filter_div" routerLink="../recent" routerLinkActive="routerActive">
        <img src="../assets/img/phone/time.png" alt="clock">
        <p>Récents</p>
    </div>
    <div class="filter_div" routerLink="../contacts" routerLinkActive="routerActive">
        <img src="../assets/img/phone/user.png" alt="contact">
        <p>Contacts</p>
    </div>
    <div class="filter_div" routerLink="../clavier" routerLinkActive="routerActive">
        <img src="../assets/img/phone/dialup.png" alt="dialpad">
        <p>Clavier</p>
    </div>
    <!--  [routerLinkActiveOptions]="{ exact: true }" -->
</nav>