nav {
    position: relative;
    bottom: 64px;
    // background-color: red;
    width: 358px;
    margin: auto;
    display: flex;
    justify-content: center;

    div {
        width: 64px;
        height: 64px;
        margin: auto;
        // flex-grow: 1;
        // background-color: purple;
    }
    img {
        margin: 0 18px;
        width: 26px;
    }
    p {
        // position: relative;
        // bottom: 6px;
        margin: 0;
        font-size: 12px;
        text-align: center;
        // background-color: blue;
    }
}

.routerActive {
    filter: brightness(0) saturate(100%) invert(15%) sepia(85%) saturate(2949%) hue-rotate(234deg) brightness(102%) contrast(102%);
}