.filter_div {
    width: 64px;
    height: 64px;
    margin: auto;
    // flex-grow: 1;
    // background-color: purple;
    // filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(36%) hue-rotate(135deg) brightness(93%) contrast(87%);
    filter: brightness(0) saturate(100%) invert(25%) sepia(0%) saturate(23%) hue-rotate(239deg) brightness(103%) contrast(95%);
}

.routerActive {
    // filter: brightness(0) saturate(100%) invert(15%) sepia(85%) saturate(2949%) hue-rotate(234deg) brightness(102%) contrast(102%);
    filter: brightness(0) saturate(100%) invert(20%) sepia(56%) saturate(3667%) hue-rotate(232deg) brightness(90%) contrast(106%);
}

nav {
    position: relative;
    bottom: 64px;
    // background-color: red;
    width: 358px;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
        margin: 0 18px;
        width: 26px;
    }
    p {
        // position: relative;
        // bottom: 6px;
        margin: 0;
        font-size: 12px;
        text-align: center;
        // background-color: blue;
    }
}

.recent_notif {
    position: absolute;
    background-color: red;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    margin-right: 72px;
    margin-top: -2px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
        color: white;
        text-align: center;
        font-size: 10px;
    }
}