<div class="background">
    <div class="header">
        <p>Récents</p>
    </div>
    
    <div class="container" id="bar">
        <div class="button_div" *ngFor="let element of callList" (click)="onCall(element.number)" (mouseover)="onHoverDiv(element)">
            <img *ngIf="element.source" class="outgoing_call" src="../assets/img/phone/outgoing_call.png" alt="Outgoing Call">
            <p class="call_name" [ngClass]="{missed_call: element.missed}">{{element.label}}</p>
            <p class="call_date">{{element.date | date:'dd/MM/yyyy à HH:mm'}}</p>
        </div>
    </div>
</div>

<app-home-bar></app-home-bar>
<app-app-phone></app-app-phone>