<div class="background">
    <div class="gallery">
        <div class="photo">
            <img src="../assets/img/gallery/1.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/2.jpg">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/3.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/4.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/4.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/2.jpg">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/2.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/1.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/1.jfif">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/2.jpg">
        </div>
        <div class="photo">
            <img src="../assets/img/gallery/3.jfif">
        </div>
    </div>
</div>

<app-home-bar></app-home-bar>