* {
    transition: 300ms ease-in-out;
}

.target_box {
    position: absolute;
    height: 20px;
    width: 160px;
    top: 770px;
    left: 130px;
    border-radius: 6px;
    background-color: transparent;

    &:hover {
        transform: translateY(-2px);
        height: 22px;
    }
}

.bar {
    background-color: black;
    height: 6px;
    width: 140px;
    border-radius: 6px;
    position: relative;
    top: 8px;
    margin: auto;
}