// .router {
//     position: absolute;
//     bottom: 50px;
//     right: 50px;
//     width: 400px;
//     height: 810px;
// }

.phone {    
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 400px;
    height: 810px;

    // background-color: blue; 
}

.iphone {
    bottom: 0;
    right: 0;
}

img {
    position: absolute;
    width: 400px;
}

.hour {
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;
    text-align: center;
    // background-color: red;
    // text-align: center;
    // font-size: 18px;
    width: 80px;
}

.rightnotch {
    position: absolute;
    top:30px;
    right: 50px;
    // background-color: red;
    height: 36px;
    width: 80px;

    .icon {
        position: relative;
        top:-4px;
        left: 6px;
        display: inline-block;
        padding: 0 2px;

        p {
            position: relative;
            top: -6px;
            left: -1px;
            
            color: white;
            font-size: 16px;
        }
    
        img {
            position: relative;
            width: 20px;
            color: white;
            bottom: 2px;
        }

        .battery {
            top: 1px;
            width: 26px;
        }
    }
}