// .router {
//     position: absolute;
//     bottom: 50px;
//     right: 50px;
//     width: 400px;
//     height: 810px;
// }

.phone {    
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 400px;
    height: 810px;

    // background-color: blue; 
}

.iphone {
    bottom: 0;
    right: 0;
}

img {
    position: absolute;
    width: 400px;
}

.hour {
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;
    text-align: center;
    // background-color: red;
    // text-align: center;
    // font-size: 18px;
    width: 80px;
}


