* {
    transition: 300ms ease-in-out;
}

.applist {
    display: inline-block;
    width: 83.5px;
    height: 90px;
    
    p {
        text-align: center;
        margin-top: -16px;
        color: white;
        font-size: 12px;
    }
}

.image {
    width: 48px;
    padding: 18px;
    
    &:hover {
        transform: scale(1.04);
    }
}

.notification {
    position: absolute;
    height: 18px;
    width: 18px;
    margin-left: 57px;
    // margin-top: 10px;
    margin-top: -89px;

    display: flex;
    justify-content: end;
    align-items: center;

    // z-index: 1;
}

.notification_bull {
    background-color: red;
    height: 18px;
    border-radius: 9px;

    p {
        margin: 0;
        font-size: 14px;
        min-width: 18px;
    }
    .p_padding {
        padding-left: 4px;
        padding-right: 4px;
    }
}