.applist {
    // background-color: blue;
    // border: dashed 0.1px;
    display: inline-block;
    width: 83.5px;
    height: 90px;
    
    p {
        text-align: center;
        margin-top: -16px;
        color: white;
        font-size: 12px;
    }
}

.image {
    // position: relative;
    width: 48px;
    padding: 18px;
    
    transition: transform 150ms ease-in-out; //opacity 150ms linear 100ms
    &:hover {
        transform: scale(1.04);
    }
}