<!-- <div class="background">
    <div class="header">
        <p class="textAO" routerLink="..">Annuler</p>
        <p class="textAO" style="color: black; left: 116px; top: 30px; font-size: 24px;">Nouveau contact</p>
        <p class="textAO textOGrey" [ngClass]="{ blueOK: (firstName !== '' || lastName !== '') && number !== ''}" style="left: 340px;" (click)="onValidateNewContact()">OK</p>
    </div>
    <div class="list">
        <div class="contactAlreadyExist" *ngIf="contactExist">
            <p>Un contact avec ce numéro existe déjà</p>
        </div>
        <div class="imgcontact">
            <div class="text" [ngClass]="{ doubleName: firstLetterName !== '' && secLetterName !== '' }">
                <div *ngIf="firstLetterName !== ''">{{firstLetterName | uppercase}}</div>
                <div *ngIf="secLetterName !== ''">{{secLetterName | uppercase}}</div>
            </div>

            <img *ngIf="firstLetterName === '' &&  secLetterName === ''" src="../assets/img/phone/user.png" alt="contact name">
        </div>
        <input style="border-top: 1px solid lightgray;" placeholder="Prénom" aria-autocomplete="list" maxlength="26" value="" #name (input)="onChangeName(name.value, 'main')">
        <input placeholder="Nom" aria-autocomplete="list" maxlength="26" value="" #subname (input)="onChangeName(subname.value, 'sub')">
        <input placeholder="Numéro" aria-autocomplete="list" type="number" [value]="number" #number_ (input)="onChangeNumber(number_.value)">
        
        <textarea placeholder="Notes" aria-autocomplete="list" cols="54" rows="6" maxlength="250" #textnote (input)="onChangeNote(textnote.value)"></textarea>
    </div>
</div> -->

<!-- <p>{{window.history.state.customData}}</p> -->
        <!-- maxlength="3" max="000" min="999" -->

<div class="background">
    <div class="header">
        <p class="header_title">Nouveau contact</p>
        <!-- <p class="header_subtitle" routerLink=".." *ngIf="(firstName === '' || lastName === '') && number === ''">Annuler</p>
        <p class="header_subtitle" routerLink=".." *ngIf="(firstName !== '' || lastName !== '') && number !== ''">Ok</p> -->
    </div>
    <div class="sub_header">
        <div class="round">
            <img *ngIf="firstLetterName === '' &&  secLetterName === ''" src="../assets/img/phone/user.png" alt="Contact Logo">
            <div class="text_round" *ngIf="firstLetterName !== '' ||  secLetterName !== ''">
                <p>{{firstLetterName + secLetterName | uppercase}}</p>
            </div>
        </div>
    </div>
    <div class="button_div">
        <input placeholder="Prénom" aria-autocomplete="none" #name (input)="onChangeName(name.value, 'main')">
    </div>
    <div class="button_div">
        <input placeholder="Nom" aria-autocomplete="none" #subname (input)="onChangeName(subname.value, 'sub')">
    </div>
    <div class="button_div">
        <input placeholder="Numéro" aria-autocomplete="none" [value]="number" #number_ (input)="onChangeNumber(number_.value)">
    </div>
    <div class="button_div" style="height: 100px;">
        <!-- <input placeholder="Notes" aria-autocomplete="list" #textnote (input)="onChangeNote(textnote.value)"> -->
        <textarea placeholder="Notes" aria-autocomplete="none" cols="54" rows="4" maxlength="260" #textnote (input)="onChangeNote(textnote.value)"></textarea>
    </div>


    <!-- <div class="">

    </div> -->

    <!-- <div class="button_div" *ngFor="let element of favsArray">
        <p class="xx">{{element.firstName + ' ' + element.lastName}}</p>
    </div> -->
</div>

<app-home-bar></app-home-bar>