* {
    transition: 300ms ease-in-out;
}

.background {
    position: relative;
    top: 18px;
    margin: auto;
    height: 774px;
    border-radius: 50px;
    background-color: white;
    width: 358px;
}

.header {
    height: 100px;
    border-bottom: 1px solid lightgray;
    margin-left: 30px;
    p {
        position: absolute;
    }
    .header_title {
        top: 20px;
        font-size: 32px;
        font-weight: bold;
    }
    .header_add {
        top: 11px;
        right: 30px;
        color: rgb(44, 54, 197);
        font-size: 36px;
        &:hover {
            color: rgba(44, 54, 197, 0.6);
        }
    }
}

.list {
    margin-left: 30px;
    // background-color: yellow;
    max-height: 561px;
    // width: 380px;
    position: relative;
    overflow: auto;
    p {
        text-align: center;
    }
}