
<div class="fond">

<p form class="base">Dev Tools</p>

<form class="base">
    Numéro: <input type="number" name="number" id="number"/>
    <input class="button" value="Appeler" (click)="onCall()"/>
</form>

<form class="base">
    Numéro: <input type="number" name="number" id="number"/>
    Message: <input type="text" name="message" id="text"/>
    <input class="button" value="Envoyer un message" (click)="onMsg()"/>
</form>

<form class="base">
    Name: <input type="text" name="number" id="number"/>
    Message: <input type="text" name="message" id="text"/>
    Img (url): <input type="text" name="img" id="imgUrl"/>
    <input class="button" value="Envoyer une notif" (click)="onNotif()"/>
</form>

</div>