<div class="background">
    <!-- <div class="navigation">
        <nav>
            <div>
            <button>Favoris</button>
            </div>
            <button>Récents</button>
            <button>Contacts</button>
            <button>Clavier</button>
            <button>Messagerie</button>
        </nav>
    </div> -->

    <div class="clavier">
        <p class="number">{{callNumber | phoneFormat}}</p>
        <div class="numberbox">
            <p class="addnumber" [ngClass]="{numberon: callNumber !== '' && contactName === ''}">Ajouter ce numéro</p>
            <p class="addnumber" [ngClass]="{contactname: callNumber !== '' && contactName !== ''}">{{ contactName }}</p>
        </div>

        <div class="clavbutton">
            <div class="centerbutton">
                <div class="divbutton" (click)="onClickNumber('1')">
                    <div style="font-size:26px;" class="txt"><p>1</p></div>
                </div>
                <div class="divbutton" (click)="onClickNumber('2')">
                    <div class="txt">
                        <p style="font-size:26px;">2</p>
                        <p style="font-size:10px;">A B C</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('3')">
                    <div class="txt">
                        <p style="font-size:26px;">3</p>
                        <p style="font-size:10px;">D E F</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('4')">
                    <div class="txt">
                        <p style="font-size:26px;">4</p>
                        <p style="font-size:10px;">G H I</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('5')">
                    <div class="txt">
                        <p style="font-size:26px;">5</p>
                        <p style="font-size:10px;">J K L</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('6')">
                    <div class="txt">
                        <p style="font-size:26px;">6</p>
                        <p style="font-size:10px;">M N O</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('7')">
                    <div class="txt">
                        <p style="font-size:26px;">7</p>
                        <p style="font-size:10px;">P Q R S</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('8')">
                    <div class="txt">
                        <p style="font-size:26px;">8</p>
                        <p style="font-size:10px;">T U V</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('9')">
                    <div class="txt">
                        <p style="font-size:26px;">9</p>
                        <p style="font-size:10px;">W X Y Z</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('*')">
                    <div class="txt">
                        <p style="font-size:26px; top:20px;">*</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('0')">
                    <div class="txt">
                        <p style="font-size:26px;">0</p>
                        <p style="font-size:16px; top: 2px;">+</p>
                    </div>
                </div>
                <div class="divbutton" (click)="onClickNumber('#')">
                    <div class="txt">
                        <p style="font-size:26px; top:16px;">#</p>
                    </div>
                </div>
                    <div class="divbutton" style="background-color: rgba(0, 0, 0, 0);">
                </div>
                <div class="divbutton" style="background-color: rgba(0, 0, 0, 0);">
                    <img class="imgbut" src="../assets/img/call_green.png" alt="call">
                </div>
                <div class="divbutton" style="background-color: rgba(0, 0, 0, 0);">
                    <img (click)="onReturn()" class="imgbutbackspace" src="../assets/img/backspace.png" alt="backspace" [ngClass]="{hiddenbackspace: callNumber === ''}">
                </div>


                <!-- <button (click)="onClickNumber('1')"><span class="individual">1</span></button>
                <button (click)="onClickNumber('2')">2<br><span>ABC</span></button>
                <button (click)="onClickNumber('3')">3<br><span>DEF</span></button>
                <button (click)="onClickNumber('4')">4<br><span>GHI</span></button>
                <button (click)="onClickNumber('5')">5<br><span>JKL</span></button>
                <button (click)="onClickNumber('6')">6<br><span>MNO</span></button>
                <button (click)="onClickNumber('7')">7<br><span>PQRS</span></button>
                <button (click)="onClickNumber('8')">8<br><span>TUV</span></button>
                <button (click)="onClickNumber('9')">9<br><span>WXYZ</span></button>
                <button>*</button>
                <button (click)="onClickNumber('0')">0<br><span>+</span></button>
                <button>#</button>
                <button class="center_" (click)="onCall()">Call</button>
                <button class="center_" (click)="onReturn()">Return</button> -->
            </div>
        </div>
    </div>

    <!-- <div class="navbar">
        <nav>
            <a>Favoris</a>
            <a>Récents</a>
            <a>Contacts</a>
            <a>Clavier</a>
            <a>Messagerie</a>
        </nav>
    </div> -->
</div>

<app-home-bar></app-home-bar>
<app-app-phone></app-app-phone>