* {
    transition: 300ms ease-in-out;
}

img {
    position: absolute;
    width: 400px;
}

.app {
    position: absolute;
    left: 33px;
    top: 80px;
    width: 334px;
    height: 530px;
}

.appbar {
    position: relative;
    width: 330px;
    height: 85px;
    top: 695px;
    border-radius: 35px;
    margin: auto;
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(194, 194, 194, 0.6);

    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
        height: 48px;
        width: 48px;
        &:hover {
            scale: 1.04;
        }
        img {
            width: 48px;
        }
    }
}