
<img src="../assets/img/wallpaper.png" alt="Wallpaper">

<div class="app">
    <app-apps *ngFor="let element of appsArray" [apps]="element"></app-apps>
</div>
    

<div class="appbar">
    <div>
        <img src="../assets/img/icon/phone.png" alt="Icon">
    </div>
    <div>
        <img src="../assets/img/icon/safari.png" alt="Icon">
    </div>
    <div>
        <img src="../assets/img/icon/message.png" alt="Icon">
    </div>
    <div>
        <img src="../assets/img/icon/music.png" alt="Icon">
    </div>
</div>